html{
	font-size: 16px;
}

body {
	font-size: 1em;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	max-width: 1200px;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;	
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
	font-size: 1.125em;
}
h3 {
	font-size: .75em;
}

p {
	font-size: 0.875em;
	line-height: 21px;
}

/*The widths are in a percentage!*/
header {
	border-bottom: 3px solid #77a466;
	text-align: center;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

header h1 {
	margin: 0;
	text-align: center;
	padding: 10px 10px;
	border-bottom: solid 3px #77a466;
	width: 100%;
}

header h1 span {
	color: #77a466;
}

header nav {
	padding: 20px 0;
	width: 100%;
}
header nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .875em;
	line-height: 40px;
	padding: 0;
	text-align: center;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}
.main-image{
	height: auto;
}
.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title {
	height: auto;
}
.main-title h2 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 25px;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	border-top: 1px solid #eee;
}

.menu {
	list-style: none;
	width: 100%;
}
.menu li {
	color:#77a466;
	line-height: 30px;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
}

.address {
	font-size: 1em;
	line-height: 24px;
}

/*The widths are in a percentage!*/
footer {
	border-top: 3px solid #eee;
	text-align: center;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: .875em;
}

/*---------- TABLET ----------*/
@media all and (min-width: 768px) {

.bottom-section {
	align-items: flex-start;
	justify-content: space-between;
	border-top: 1px solid #eee;

}
.section-one,
.section-two,
.section-three {
	border-top: none;
	flex-basis: 30%;
}

.section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	padding: 0 20px;
}
}


/*--------- DESKTOP ---------*/
@media all and (min-width: 1200px) {

header h1 {
	width: ;
	padding: ;
	border-bottom: ;
	text-align: ;
}


}